{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/wcc.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <table>
        {% for player in players %}
            <tr>
                <td class="atop">{{ player.wccplayer.id }}</td>
                <td class="atop"><a href="{{ path('wccplayer_json',{'profile':player.wccplayer.profile }) }}">{{ player.wccplayer.profile }}</a></td>
                <td class="atop"><a href="{{ path('wccplayer_view',{'profile':player.wccplayer.profile }) }}">{{ player.wccplayer.name }}</a></td>
                <td class="atop">{{ player.wccstats|length }}</td>
            </tr>
        {% endfor %}
    </table>

    {# dump(players) #}
{% endblock %}