{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/warclanscom.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <table>
    {% for wccplayer in wccplayers %}
        <tr>
            <td>{{ wccplayer.id }}</td>
            <td>{{ wccplayer.profile }}</td>
            <td>{{ wccplayer.name }}</td>
        </tr>
    {% endfor %}
    </table>
    
{% endblock %}