{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/wcc.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <table>
        <tr><td>profile:</td><td>{{ player.wccplayer.profile }}</td></tr>
        <tr><td>name:</td><td>{{ player.wccplayer.name }}</td></tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Gold</th>
            <th>Elixer</th>
            <th>Dark</th>
            <th>Attk</th>
            <th>Def</th>
            <th>Star</th>
            <th>WarGold</th>
            <th>Offense</th>
        </tr>
        {% for stats in player.wccstats %}
            <tr>
                <td></td>
                <td>{{ stats.wccstats.createdat|date('Ymd His') }}</td>
                <td>{{ stats.wccstats.wccclan.name }}</td>
                <td>{{ stats.info.playerinfo.clanrole }}</td>
                <td>{{ stats.info.claninfo.goldgrab|number_format }}</td>
                <td>{{ stats.info.claninfo.elixergrab|number_format }}</td>
                <td>{{ stats.info.claninfo.darkelixergrab|number_format }}</td>
                <td>{{ stats.info.claninfo.wonbattles|number_format }}</td>
                <td>{{ stats.info.claninfo.defenseswon|number_format }}</td>
                <td>{{ stats.info.claninfo.warhero|number_format }}</td>
                <td>{{ stats.info.claninfo.goldinwar|number_format }}</td>
                <td>{{ player.wccplayer.offenseweight(stats.wccstats.createdat)|number_format }}</td>
                <td>{{ player.wccplayer.defenseweight(stats.wccstats.createdat)|number_format }}</td>
                {% for lev in 1..11 %}
                <td>{{ stats.info.village is defined and stats.info.village.wall is defined and stats.info.village.wall[lev] is defined ? stats.info.village.wall[lev] : 0 }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {{ dump( player ) }}
    current offense weight: {{ player.wccplayer.offenseweight }}
{% endblock %}