{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block body %}
    <h1>Warevents</h1>

    {% if app.user and is_granted('ROLE_USER') %}
        <p>{{  render(controller('ClanmanagerBundle:Warevent:warselect')) }}</p>
    {% endif %}

    <table>
        <tr>
            <th>id</th>
            <th>War</th>
            <th>attacker</th>
            <th>defender</th>
            <th>stars</th>
            <th>percent</th>
            <th>time</th>
        </tr>
        {% for warevent in warevents %}
            <tr>

                <td>{{ warevent.id }}</td>
                <td>{{ warevent.war }}</td>
                <td>{{ warevent.attacker.player.name }}</td>
                <td>{{ warevent.defender.player.name }}</td>
                <td>{{ warevent.stars }}</td>
                <td>{{ warevent.percent }}</td>
                <td>{{ warevent.time|date('H:i') }}</td>

            </tr>
        {% endfor %}

    </table>
{% endblock %}