{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block body %}

    <h1>
        {{ warclan.id }}. {{ warclan.clan.name }}
    </h1>

    <table>
        <tr>
            <th>id</th>
            <th>rank</th>
            <th>name</th>
            <th>TH</th>
        </tr>

        {% for warplayer in warclan.warplayers %}
            <tr>
                <td>{{ warplayer.id }}</td>
                <td>{{ warplayer.rank }}</td>
                <td>{{ warplayer.player.name }}</td>
                <td>{{ warplayer.th }}</td>
                <td></td>
            </tr>
        {% endfor %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
            {{ render(controller('ClanmanagerBundle:Warplayer:new',{'warclan_id':8} )) }}
        {% endif %}

    </table>


{% endblock %}