{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/wcc.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <table>
        {% for wccclan in wccclans %}
            <tr>
                <td>{{ wccclan.id }}</td>
                <td><a href="{{ path('wccclan_view',{'profile':wccclan.profile}) }}">{{ wccclan.profile }}</a></td>
                <td>{{ wccclan.name }}</td>
                <td><a href="{{ path('wccclan_delete',{'wccclan_id':wccclan.id}) }}">delete</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}