{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/wcc.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    CLAN: {{ name }} <br>
    <p></p>

    <table class="detail">
        <tr>
            <th></th>
            <th>#</th>
            <th>lg</th>
            <th>lv</th>
            <th></th>
            <th>name</th>
            <th>role</th>
            <th>score</th>
            <th></th>
            <th>BK</th>
            <th>AQ</th>
            <th>LS</th>
            <th>HS</th>
            <th>RS</th>
            <th>JS</th>
            <th>FS</th>
            <th>BA</th>
            <th>AR</th>
            <th>GI</th>
            <th>GB</th>
            <th>WB</th>
            <th>BA</th>
            <th>WI</th>
            <th>HE</th>
            <th>DR</th>
            <th>PE</th>
            <th>MI</th>
            <th>HO</th>
            <th>VA</th>
            <th>GO</th>
            <th>WI</th>
            <th>LA</th>
            <th>Gold Grab</th>
            <th>Elixer Grab</th>
            <th>Dark Grab</th>
            <th>Attks</th>
            <th>Defs</th>
            <th>Stars</th>
            <th>War Gold</th>
            <th>Donate</th>
        </tr>
        {% for player in players %}
            <tr valign="top">
                <td>{# player.nodeValue #}</td>
                <td>{{ player.rank }}</td>
                <td class="nr"><div id="league_{{ player.profile }}"><span style="color:gray">{{ player.league }}</span></div></td>
                <td class="nr"><div id="level_{{ player.profile }}"><span style="color:gray">{{ player.level }}</span></div></td>
                <td>{# player.profile #}</td>
                <td>{{ player.name }}</td>
                <td><div id="clanrole_{{ player.profile }}"><span style="color:gray">{{ player.role }}</span></div></td>
                <td class="nr"><div id="score_{{ player.profile }}"><span style="color:gray">{{ player.score }}</span></div></td>
                <td><!--
                    {% for key in player.troops|keys %}
                        {{ key }}:{{ player.troops[key] }}<br>
                    {% endfor %}-->
                </td>
                <td class="nr"><div id="barbarianking_{{ player.profile }}"><span style="color:gray">{{ player.troops['barbarianking'] }}</span></div></td>
                <td class="nr"><div id="archerqueen_{{ player.profile }}"><span style="color:gray">{{ player.troops['archerqueen'] }}</span></div></td>
                <td class="nr"><div id="lightningspell_{{ player.profile }}"><span style="color:gray">{{ player.troops['lightningspell'] }}</span></div></td>
                <td class="nr"><div id="healingspell_{{ player.profile }}"><span style="color:gray">{{ player.troops['healingspell'] }}</span></div></td>
                <td class="nr"><div id="ragespell_{{ player.profile }}"><span style="color:gray">{{ player.troops['ragespell'] }}</span></div></td>
                <td class="nr"><div id="jumpspell_{{ player.profile }}"><span style="color:gray">{{ player.troops['jumpspell'] }}</span></div></td>
                <td class="nr"><div id="freezespell_{{ player.profile }}"><span style="color:gray">{{ player.troops['freezespell'] }}</span></div></td>
                <td class="nr"><div id="barbarian_{{ player.profile }}"><span style="color:gray">{{ player.troops['barbarian'] }}</span></div></td>
                <td class="nr"><div id="archer_{{ player.profile }}"><span style="color:gray">{{ player.troops['archer'] }}</span></div></td>
                <td class="nr"><div id="giant_{{ player.profile }}"><span style="color:gray">{{ player.troops['giant'] }}</span></div></td>
                <td class="nr"><div id="goblin_{{ player.profile }}"><span style="color:gray">{{ player.troops['goblin'] }}</span></div></td>
                <td class="nr"><div id="wallbreaker_{{ player.profile }}"><span style="color:gray">{{ player.troops['wallbreaker'] }}</span></div></td>
                <td class="nr"><div id="balloon_{{ player.profile }}"><span style="color:gray">{{ player.troops['balloon'] }}</span></div></td>
                <td class="nr"><div id="wizard_{{ player.profile }}"><span style="color:gray">{{ player.troops['wizard'] }}</span></div></td>
                <td class="nr"><div id="healer_{{ player.profile }}"><span style="color:gray">{{ player.troops['healer'] }}</span></div></td>
                <td class="nr"><div id="dragon_{{ player.profile }}"><span style="color:gray">{{ player.troops['dragon'] }}</span></div></td>
                <td class="nr"><div id="pekka_{{ player.profile }}"><span style="color:gray">{{ player.troops['pekka'] }}</span></div></td>
                <td class="nr"><div id="minion_{{ player.profile }}"><span style="color:gray">{{ player.troops['minion'] }}</span></div></td>
                <td class="nr"><div id="hogrider_{{ player.profile }}"><span style="color:gray">{{ player.troops['hog-rider'] }}</span></div></td>
                <td class="nr"><div id="valkyrie_{{ player.profile }}"><span style="color:gray">{{ player.troops['valkyrie'] }}</span></div></td>
                <td class="nr"><div id="golem_{{ player.profile }}"><span style="color:gray">{{ player.troops['golem'] }}</span></div></td>
                <td class="nr"><div id="witch_{{ player.profile }}"><span style="color:gray">{{ player.troops['witch'] }}</span></div></td>
                <td class="nr"><div id="lavahound_{{ player.profile }}"><span style="color:gray">{{ player.troops['lavahound'] }}</span></div></td>
                <td class="nr"><div id="goldgrab_{{ player.profile }}"></div></td>
                <td class="nr"><div id="elixergrab_{{ player.profile }}"></div></td>
                <td class="nr"><div id="darkelixergrab_{{ player.profile }}"></div></td>
                <td class="nr"><div id="wonbattles_{{ player.profile }}"></div></td>
                <td class="nr"><div id="defenseswon_{{ player.profile }}"></div></td>
                <td class="nr"><div id="warhero_{{ player.profile }}"></div></td>
                <td class="nr"><div id="goldinwar_{{ player.profile }}"></div></td>
                <td class="nr"><div id="friendinneed_{{ player.profile }}"></div></td>
            </tr>
        {% endfor %}
    </table>

    <p>{# text #}</p>
    <p>{# dump(text) #}</p>

    <script language="JavaScript">

        function loadJSONDoc(profile)
        {
            var xmlhttp;
            var x;
            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else
            {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function ()
            {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                {
                    var x = JSON.parse(xmlhttp.responseText);
                    document.getElementById('league_' + profile).innerHTML = x.playerinfo.league;
                    document.getElementById('level_' + profile).innerHTML = x.playerinfo.level;
                    document.getElementById('clanrole_' + profile).innerHTML = x.playerinfo.clanrole;
                    document.getElementById('score_' + profile).innerHTML = Number(x.playerinfo.score).toLocaleString();
                    document.getElementById('barbarianking_' + profile).innerHTML = x.troops.barbarianking;
                    document.getElementById('archerqueen_' + profile).innerHTML = x.troops.archerqueen;
                    document.getElementById('lightningspell_' + profile).innerHTML = x.troops.lightningspell;
                    document.getElementById('healingspell_' + profile).innerHTML = x.troops.healingspell;
                    document.getElementById('ragespell_' + profile).innerHTML = x.troops.ragespell;
                    document.getElementById('jumpspell_' + profile).innerHTML = x.troops.jumpspell;
                    document.getElementById('freezespell_' + profile).innerHTML = x.troops.freezespell;
                    document.getElementById('barbarian_' + profile).innerHTML = x.troops.barbarian;
                    document.getElementById('archer_' + profile).innerHTML = x.troops.lavahound;
                    document.getElementById('giant_' + profile).innerHTML = x.troops.giant;
                    document.getElementById('goblin_' + profile).innerHTML = x.troops.goblin;
                    document.getElementById('wallbreaker_' + profile).innerHTML = x.troops.wallbreaker;
                    document.getElementById('balloon_' + profile).innerHTML = x.troops.balloon;
                    document.getElementById('wizard_' + profile).innerHTML = x.troops.wizard;
                    document.getElementById('healer_' + profile).innerHTML = x.troops.healer;
                    document.getElementById('dragon_' + profile).innerHTML = x.troops.dragon;
                    document.getElementById('pekka_' + profile).innerHTML = x.troops.pekka;
                    document.getElementById('minion_' + profile).innerHTML = x.troops.minion;
                    document.getElementById('hogrider_' + profile).innerHTML = x.troops.hogrider;
                    document.getElementById('valkyrie_' + profile).innerHTML = x.troops.valkyrie;
                    document.getElementById('golem_' + profile).innerHTML = x.troops.golem;
                    document.getElementById('witch_' + profile).innerHTML = x.troops.witch;
                    document.getElementById('lavahound_' + profile).innerHTML = x.troops.lavahound;
                    document.getElementById('goldgrab_' + profile).innerHTML = Number(x.claninfo.goldgrab).toLocaleString();
                    document.getElementById('elixergrab_' + profile).innerHTML = Number(x.claninfo.elixergrab).toLocaleString();
                    document.getElementById('darkelixergrab_' + profile).innerHTML = Number(x.claninfo.darkelixergrab).toLocaleString();
                    document.getElementById('wonbattles_' + profile).innerHTML = Number(x.claninfo.wonbattles).toLocaleString();
                    document.getElementById('defenseswon_' + profile).innerHTML = Number(x.claninfo.defenseswon).toLocaleString();
                    document.getElementById('warhero_' + profile).innerHTML = Number(x.claninfo.warhero).toLocaleString();
                    document.getElementById('goldinwar_' + profile).innerHTML = Number(x.claninfo.goldinwar).toLocaleString();
                    document.getElementById('friendinneed_' + profile).innerHTML = Number(x.achievements.friendinneed).toLocaleString();
                }
            }
            str = "{{ path('wccplayer_json', {'profile':'BLABLA'} ) }}";
            xmlhttp.open("GET", str.replace("BLABLA", profile), true);
            xmlhttp.send();
        }

        window.onload = function (e) {
        {% for player in players %}
                loadJSONDoc("{{ player.profile }}");{% endfor %}
            }
        </script>

        {% endblock %}