{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/wcc.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    CLAN: {{ name }} <br>
    <p></p>

    <table class="detail">
        <tr>
            <th></th>
            <th>#</th>
            <th>lg</th>
            <th>lv</th>
            <th></th>
            <th>name</th>
            <th>role</th>
            <th>score</th>
            <th></th>
            <th>BK</th>
            <th>AQ</th>
            <th>LS</th>
            <th>HS</th>
            <th>RS</th>
            <th>JS</th>
            <th>FS</th>
            <th>BA</th>
            <th>AR</th>
            <th>GI</th>
            <th>GB</th>
            <th>WB</th>
            <th>BA</th>
            <th>WI</th>
            <th>HE</th>
            <th>DR</th>
            <th>PE</th>
            <th>MI</th>
            <th>HO</th>
            <th>VA</th>
            <th>GO</th>
            <th>WI</th>
            <th>LA</th>
            <th>Gold Grab</th>
            <th>Elixer Grab</th>
            <th>Dark Grab</th>
            <th>Attks</th>
            <th>Defs</th>
            <th>Stars</th>
            <th>War Gold</th>
            <th>Donate</th>
        </tr>
        {% for player in players %}
            <tr valign="top">
                <td>{# player.nodeValue #}</td>
                <td>{{ player.rank }}</td>
                <td>{{ player.league }}</td>
                <td>{{ player.level }}</td>
                <td>{# player.profile #}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.role }}</td>
                <td>{{ player.score }}</td>
                <td><!--
                    {% for key in player.troops|keys %}
                        {{ key }}:{{ player.troops[key] }}<br>
                    {% endfor %}-->
                </td>
                <td class="nr"><div id="barbarianking_{{ player.profile }}">{{ player.troops['barbarianking'] }}</div></td>
                <td class="nr"><div id="archerqueen_{{ player.profile }}">{{ player.troops['archerqueen'] }}</div></td>
                <td class="nr"><div id="lightningspell_{{ player.profile }}">{{ player.troops['lightningspell'] }}</div></td>
                <td class="nr"><div id="healingspell_{{ player.profile }}">{{ player.troops['healingspell'] }}</div></td>
                <td class="nr"><div id="ragespell_{{ player.profile }}">{{ player.troops['ragespell'] }}</div></td>
                <td class="nr"><div id="jumpspell_{{ player.profile }}">{{ player.troops['jumpspell'] }}</div></td>
                <td class="nr"><div id="freezespell_{{ player.profile }}">{{ player.troops['freezespell'] }}</div></td>
                <td class="nr"><div id="barbarian_{{ player.profile }}">{{ player.troops['barbarian'] }}</div></td>
                <td class="nr"><div id="archer_{{ player.profile }}">{{ player.troops['archer'] }}</div></td>
                <td class="nr"><div id="giant_{{ player.profile }}">{{ player.troops['giant'] }}</div></td>
                <td class="nr"><div id="goblin_{{ player.profile }}">{{ player.troops['goblin'] }}</div></td>
                <td class="nr"><div id="wallbreaker_{{ player.profile }}">{{ player.troops['wallbreaker'] }}</div></td>
                <td class="nr"><div id="balloon_{{ player.profile }}">{{ player.troops['balloon'] }}</div></td>
                <td class="nr"><div id="wizard_{{ player.profile }}">{{ player.troops['wizard'] }}</div></td>
                <td class="nr"><div id="healer_{{ player.profile }}">{{ player.troops['healer'] }}</div></td>
                <td class="nr"><div id="dragon_{{ player.profile }}">{{ player.troops['dragon'] }}</div></td>
                <td class="nr"><div id="pekka_{{ player.profile }}">{{ player.troops['pekka'] }}</div></td>
                <td class="nr"><div id="minion_{{ player.profile }}">{{ player.troops['minion'] }}</div></td>
                <td class="nr"><div id="hog-rider_{{ player.profile }}">{{ player.troops['hog-rider'] }}</div></td>
                <td class="nr"><div id="valkyrie_{{ player.profile }}">{{ player.troops['valkyrie'] }}</div></td>
                <td class="nr"><div id="golem_{{ player.profile }}">{{ player.troops['golem'] }}</div></td>
                <td class="nr"><div id="witch_{{ player.profile }}">{{ player.troops['witch'] }}</div></td>
                <td class="nr"><div id="lavahound_{{ player.profile }}">{{ player.troops['lavahound'] }}</div></td>
                <td class="nr"><div id="goldgrab_{{ player.profile }}"></div></td>
                <td class="nr"><div id="elixergrab_{{ player.profile }}"></div></td>
                <td class="nr"><div id="darkelixergrab_{{ player.profile }}"></div></td>
                <td class="nr"><div id="wonbattles_{{ player.profile }}"></div></td>
                <td class="nr"><div id="defenseswon_{{ player.profile }}"></div></td>
                <td class="nr"><div id="warhero_{{ player.profile }}"></div></td>
                <td class="nr"><div id="goldinwar_{{ player.profile }}"></div></td>
                <td class="nr"><div id="friendinneed_{{ player.profile }}"></div></td>
            </tr>
        {% endfor %}
    </table>

    <p>{# text #}</p>
    <p>{# dump(text) #}</p>

    <script language="JavaScript">

        function loadJSONDoc(profile)
        {
            var xmlhttp;
            var x;
            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else
            {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function ()
            {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                {
                    var x = JSON.parse(xmlhttp.responseText);
                    document.getElementById('goldgrab_' + profile).innerHTML = Number(x.claninfo.goldgrab).toLocaleString();
                    document.getElementById('elixergrab_' + profile).innerHTML = Number(x.claninfo.elixergrab).toLocaleString();
                    document.getElementById('darkelixergrab_' + profile).innerHTML = Number(x.claninfo.darkelixergrab).toLocaleString();
                    document.getElementById('wonbattles_' + profile).innerHTML = Number(x.claninfo.wonbattles).toLocaleString();
                    document.getElementById('defenseswon_' + profile).innerHTML = Number(x.claninfo.defenseswon).toLocaleString();
                    document.getElementById('warhero_' + profile).innerHTML = Number(x.claninfo.warhero).toLocaleString();
                    document.getElementById('goldinwar_' + profile).innerHTML = Number(x.claninfo.goldinwar).toLocaleString();
                    document.getElementById('friendinneed_' + profile).innerHTML = Number(x.achievements.friendinneed).toLocaleString();
                }
            }
            str = "{{ path('wccplayer_view', {'profile':'BLABLA'} ) }}";
            xmlhttp.open("GET", str.replace("BLABLA", profile), true);
            xmlhttp.send();
        }

        window.onload = function (e) {
        {% for player in players %}
                loadJSONDoc("{{ player.profile }}");
        {% endfor %}
            }
    </script>

{% endblock %}