{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <table>
        <tr>
            <td>username:</td>
            <td>{{ form_widget(form.username) }}</td>
        </tr>
        <tr>
            <td>email:</td>
            <td>{{ form_widget(form.email) }}</td>
        </tr>
        <tr>
            <td>isActive:</td>
            <td>{{ form_widget(form.isActive) }}</td>
        </tr>
        <tr>
            <td>password:</td>
            <td>{{ form_widget(form.plainPassword) }}</td>
        </tr>
        <tr>
            <td>repeat:</td>
            <td>{{ form_widget(form.plainPassword2) }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.save) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}