<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CoC ClanManager{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/default.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

        <div id="top">
            <div class="title">
                CoC ClanManager
            </div>
            <div class="account">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('user_edit', {'user_id':app.user.id} ) }}">my account</a>&nbsp;
                    {{ app.user.username }}&nbsp;
                    <a href="{{path('logout')}}">logout</a>
                {% else %}
                    <a href="{{path('login_route')}}">login</a>
                {% endif %}
            </div>

        </div>

        <div id="menu">
            <p>
                <a href="{{path('homepage')}}">Home</a><br>
                <br>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{path('user')}}">Users</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{path('profile')}}">Profiles</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_USER') %}
                    <a href="{{path('clan')}}">Clans</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_USER') %}
                    <a href="{{path('player')}}">Players</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_USER') %}
                    <a href="{{path('war')}}">Wars</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{path('warclan')}}">Warclans</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{path('warplayer')}}">Warplayers</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{path('warevent')}}">Warevents</a><br>
                {% endif %}
            </p>

        </div>

        <div id="content">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}
        {% endblock %}

    </body>

</html>
