{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/warclanscom.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    TITLE: {{ title }} <br>
    <p></p>

    <table>
        <th>nodeValue</th>
            {% for player in players %}
            <tr>
                <td>{{ player.nodeValue }}</td>
                <td>{{ player.rank }}</td>
                <td>{{ player.level }}</td>
                <td>{{ player.profile }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.role }}</td>
                <td>{{ player.score }}</td>
                <td>{# dump(player) #}</td>
            </tr>
        {% endfor %}
    </table>
        
    <h2>text</h2>
    <p>{# text #}</p>
    <p>{# dump(text) #}</p>

{% endblock %}