{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block body %}
    <h1>Clans</h1>

    <table>
        {% for clan in clans %}
            <tr>
                <td>{{ clan.id }}</td>
                <td><a href="{{ path('clan_view',{'clan_id':clan.id}) }}">{{ clan.tag }}</a></td>
                <td>{{ clan.name }}</td>
            </tr>
        {% endfor %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
            {{ render(controller('ClanmanagerBundle:Clan:new')) }}
        {% endif %}
    </table>


{% endblock %}