{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block body %}
    <h1>{{ clan.tag }} {{ clan.name }}</h1>

    <table>
        {% for member in clan.memberships %}
            <tr>
                <td>{{ member.player.name }}</td>
                <td>{{ member.player.th }}</td>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('player_delete',{'player_id':member.player.id} ) }}">delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
            {{ render(controller('ClanmanagerBundle:Player:new',{'clan_id':clan.id} )) }}
        {% endif %}
    </table>
{% endblock %}