{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/clan.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>{{ clan.tag }} {{ clan.name }}</h1>

    <table>
        <tr>
            <th>name</th>
            <th>TH</th>
            <th>join</th>
            <th>leave</th>
        </tr>
        {% for member in clan.memberships %}
            <tr>
                <td>{{ member.id }} <a href="{{ path('player_view',{'player_id':member.player.id}) }}">{{ member.player.name }}</a></td>
                <td>{{ member.player.th }}</td>
                <td>{{ member.start ? member.start|date('Y/m/d') : "---" }}</td>
                <td>{{ member.stop ? member.stop|date('Y/m/d') : "---" }}</td>
<!--
                <td>
                    <table>
                        <tr>
                            <th>War</th>
                            <th>rank</th>
                        </tr>
                        {% for warplayer in member.player.warplayers %}
                            <tr>
                                <td>{{ warplayer.warclan.war.start|date('Y/m/d') }} {{ warplayer.warclan.war }}</td>
                                <td>{{ warplayer.rank }}</td>
                                <td>
                                    {% for attack in warplayer.attacks %}
                                        {{ attack.defender }} {{ attack.percent }}% {{ attack.stars }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
-->
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <!-- <td><a href="{{ path('player_delete',{'player_id':member.player.id} ) }}">delete</a></td> -->
                {% endif %}
                
            </tr>
        {% endfor %}
        
        {% if app.user and is_granted('ROLE_ADMIN') %}
            {{ render(controller('ClanmanagerBundle:Player:new',{'clan_id':clan.id} )) }}
        {% endif %}
        
    </table>
{% endblock %}