{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block body %}

    <h1>


        &nbsp;-&nbsp;

    </h1>
    <table>
        <tr>
            <th>{{ war.id }}.</th>
            <th colspan="3">{{ war.warclans[0].id }}. {{ war.warclans[0].clan.name }}</th>
            <th></th>
            <th colspan="3">{{ war.warclans[1].id }}. {{ war.warclans[1].clan.name }}</th>
        </tr>

        {% for rank in 1 .. war.size %}
            <tr>
                <td></td>
                {% for wc in 0..1 %}
                    <td>{{rank}}</td>
                    <td>
                        {% if war.warclans[wc].warplayers[rank-1].player is defined %}
                            {{ war.warclans[wc].warplayers[rank-1].player.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if war.warclans[wc].warplayers[rank-1] is defined %}
                            TH{{ war.warclans[wc].warplayers[rank-1].th }}
                        {% endif %}
                    </td>
                    <td></td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

    {{ dump(war) }}

{% endblock %}