{% extends 'ClanmanagerBundle::base.html.twig' %}

{% block title %}CoC ClanManager{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/war.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <table>
        <tr>
            <th>{{ war.id }}.</th>
            <th colspan="10">{#{{ war.warclans[0].id }}. #}{{ war.warclans[0].clan.name }} ({{ war.warclans[0].wins }}) {{ war.warclans[0].nrattacks }}/{{ war.size*2 }} {{ war.warclans[1].stars }}</th>
            <th></th>
            <th colspan="10">{#{{ war.warclans[1].id }}. #}{{ war.warclans[1].clan.name }} ({{ war.warclans[1].wins }}) {{ war.warclans[1].nrattacks }}/{{ war.size*2 }} {{ war.warclans[0].stars }}</th>
        </tr>

        {% for rank in 1 .. war.size %}
            <tr>

                <td>&nbsp;</td>                    

                {% for wc in 0..1 %}
                    <td class="attacker">{{ rank }}.</td>

                    <td class="attacker">
                        {% if war.warclans[wc].warplayers[rank-1].player is defined %}
                            {{ war.warclans[wc].warplayers[rank-1].player.name }}
                        {% endif %}
                    </td>
                    <td class="attacker">
                        {% if war.warclans[wc].warplayers[rank-1] is defined %}
                            TH{{ war.warclans[wc].warplayers[rank-1].th }}
                        {% endif %}
                    </td>

                    <td>&nbsp;</td>        

                    <td>
                        {% if war.warclans[wc].warplayers[rank-1].defends is defined and war.warclans[wc].warplayers[rank-1].defends|length %}
                            <img height="10px" src="{{  asset( ['images/',war.warclans[wc].warplayers[rank-1].stars,'star.png']|join ) }}">
                        {% endif %}
                    </td>
                    <td class="attacker">
                        {% if war.warclans[wc].warplayers[rank-1].defends is defined and war.warclans[wc].warplayers[rank-1].defends|length > 0  %}
                            {{ war.warclans[wc].warplayers[rank-1].defends|length }}
                        {% endif %}
                    </td>
                    <td>
                    </td>

                    <td>&nbsp;</td>        

                    {% for at in 0..1 %}
                        <td class="attack">
                            {% if war.warclans[wc].warplayers[rank-1] is defined   %}
                                {% if war.warclans[wc].warplayers[rank-1].attacks[at] is defined %}
                                    {{ war.warclans[wc].warplayers[rank-1].attacks[at].defender.rank }}.
                                    {{ war.warclans[wc].warplayers[rank-1].attacks[at].defender.player.name }}
                                    {{ war.warclans[wc].warplayers[rank-1].attacks[at].percent }}%
                                    {{ war.warclans[wc].warplayers[rank-1].attacks[at].stars }}
                                    {{ war.warclans[wc].warplayers[rank-1].attacks[at].time|date('H:i') }}
                                {% else %}
                                    {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('warevent_new',{'attacker_id':war.warclans[wc].warplayers[rank-1].id} ) }}">---</a>
                                    {% else %}
                                        ---
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}

                    <td>&nbsp;</td>

                {% endfor %}

                <td>call</td>

            </tr>
        {% endfor %}

    </table>


    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
            'name':'visualization',
            'version':'1',
            'packages':['corechart']
            }]
            }">
    </script>

    <script type="text/javascript">
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Time Remaining', '{{ war.warclans[0].clan.name }}', '{{ war.warclans[1].clan.name }}', 'nr att', 'nr att'],{% set lasthr = warevents[0] is defined ? warevents[0].time|date('H') : 0 %}{% for hr in 23..lasthr %}
                [
                    [{{ hr }}, 0, 0],{{ war.warclans[1].timestars[hr] }} ,{{ war.warclans[0].timestars[hr] }} ,{{ war.warclans[1].timeattacks[hr] }} ,{{ war.warclans[0].timeattacks[hr] }}
                ],{% endfor %}
            ]);
            var options = {
                title: 'War Stars',
                legend: {position: 'bottom'},
                //hAxis: {format: 'KK:mm', viewWindowMode: 'maximized', viewWindow: {min: '23:00', max: '00:00'}, minValue: '23:00', maxValue: '00:00'},
                hAxis: {format: 'HH:mm', direction: -1, viewWindow: {min: [23, 0, 0], max: [0, 0, 0]}},
                vAxis: {minValue:0, maxValue:{{ war.size*3 }}, viewWindowMode: 'maximized'},
                seriesType: "line",
                series: {
                    0: {type: "line", color: "blue"},
                    1: {type: "line", color: "red"},
                    2: {type: "area", color: "lightblue"},
                    3: {type: "area", color: "orange"}
                }
            };
            var chart = new google.visualization.ComboChart(document.getElementById('chart_attacks'));
            chart.draw(data, options);

            var data = google.visualization.arrayToDataTable([
                ['stars', '{{ war.warclans[0].clan.name }}', '{{ war.warclans[1].clan.name }}'],    {% for n in 3..0 %}
                            ['{{ n }}',{{ results[0][n] }} ,{{ results[1][n] }} ],    {% endfor %}

                                    ]);

                                    var view = new google.visualization.DataView(data);
                                    //view.setColumns([0, 1, {calc: "stringify", sourceColumn: 1, type: "string", role: "annotation"}, 2]);

                                    var options = {
                                        title: "Attacks per nr of Stars",
                                        bar: {groupWidth: "80%"},
                                        legend: {position: "none"},
                                    };
                                    var chart = new google.visualization.ColumnChart(document.getElementById("chart_stars"));
                                    chart.draw(view, options);
                                }

    </script>

    <p>
    <div id="chart_attacks" style="width: 640px; height: 320px; float:left"></div>
    <div id="chart_stars" style="width: 640px; height: 320px; float:left"></div>
</p>

<table>
    <tr><th colspan="6">Last attacks</th></tr>
    <tr>
        <th>time</th>
        <th>attacker</th>
        <th>defender</th>
        <th colspan="2">result</th>
    </tr>
    {% for n in 0..4 %}
        {% if warevents[n] is defined %}
            <tr>
                <td>{{ warevents[n].time|date('H:i') }}</td>
                <td>{{ warevents[n].attacker }}</td>
                <td>{{ warevents[n].defender }}</td>
                <td>{{ warevents[n].percent }}%</td>
                <td>{{ warevents[n].stars }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock %}